@use "@/styles" as *;

.pageContentsArea {
  background-color: $white;
  color: $black;
  max-width: 800px;
  min-height: calc(100vh - 112px);
  margin: 0 auto;

  .pageContents {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
