$white: #ffffff;
$black: #000000;

$gray-100: #ececec;
$gray-200: #cccccc;
$gray-300: #b3b3b3;
$gray-400: #999999;
$gray-500: #808080;
$gray-600: #666666;
$gray-700: #4d4d4d;
$gray-800: #333333;
$gray-900: #1a1a1a;

$green-100: #EEFDE4;
$green-200: #D9FCC9;
$green-300: #BDF6AC;
$green-400: #A1EC94;
$green-500: #78E171;
$green-600: #52C154;
$green-700: #38A243;
$green-800: #248235;
$green-900: #156C2D;

$yellowgreen-100: #F6FEDC;
$yellowgreen-200: #EAFEB9;
$yellowgreen-300: #DBFD96;
$yellowgreen-400: #CCFC7C;
$yellowgreen-500: #B4FB51;
$yellowgreen-600: #8FD73B;
$yellowgreen-700: #6EB428;
$yellowgreen-800: #509119;
$yellowgreen-900: #3A780F;

$yellow-100: #FEFEDA;
$yellow-200: #FEFDB5;
$yellow-300: #FEFB91;
$yellow-400: #FDF975;
$yellow-500: #FDF748;
$yellow-600: #D9D334;
$yellow-700: #B6B024;
$yellow-800: #928D16;
$yellow-900: #79740D;

$orange-100: #FFF4DA;
$orange-200: #FFE5B6;
$orange-300: #FFD391;
$orange-400: #FFC276;
$orange-500: #FFA549;
$orange-600: #DB8135;
$orange-700: #B76024;
$orange-800: #934317;
$orange-900: #7A2F0E;

$red-100: #FEE8DD;
$red-200: #FDCDBC;
$red-300: #F9AA9A;
$red-400: #F3897F;
$red-500: #EC5656;
$red-600: #CA3E4A;
$red-700: #A92B41;
$red-800: #881B37;
$red-900: #711032;

$blue-100: #D1F6FF;
$blue-200: #A3E9FF;
$blue-300: #76D7FF;
$blue-400: #53C3FF;
$blue-500: #1BA2FF;
$blue-600: #137EDB;
$blue-700: #0D5EB7;
$blue-800: #084293;
$blue-900: #052F7A;
